{
     "branches": [
        "master",
        { "name": "dev-*", "prerelease": true },
     ],
    "plugins": [
        "@semantic-release/commit-analyzer"
    ],
    "repositoryUrl": "git@github.com:superbet-group/multiplatform.workflows.git"
}
